@model List<Category>

<h1>Categories</h1>
<p>
    @Html.ActionLink("Add", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit","Edit", new { id=item.CategoryId })|
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryId })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                </td>
            </tr>    
        }
    </tbody>
</table>